.form {
	display: flex;
	/* align-items: baseline; */
	flex-direction: column;
	background-color: white;
}

.button-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: var(--l);
}

.button-wrapper > button:last-of-type {
	margin-left: var(--xl);
}

.success-message-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: var(--l);
}

.success-message {
	margin-bottom: var(--m);
	font-family: var(--serif);
	font-size: var(--l);
}
