.badge {
	font-family: var(--sans-serif);
	font-style: italic;
	text-align: center;
	align-self: flex-end;
	border-radius: 1.25rem;
	padding: 0.5rem 0.75rem;
	font-size: var(--xs);
	margin: 0;
	margin-bottom: var(--m);
}

.inprogress {
	background: var(--bmr-dark-40);
}

.complete {
	background: var(--bmr-green);
	color: var(--bmr-dark-10);
}

@media (max-width: 400px) {
	.badge {
		font-size: var(--xxs);
	}
}
