.upnext-wrapper {
	width: 32rem;
	border-radius: var(--s);
	background: var(--bmr-dark-10);
	display: flex;
	padding: var(--l);
	flex-direction: column;
	box-shadow: var(--xs) var(--xs) var(--xs) var(--bmr-dark-30);
	background-color: white;
	position: relative;
	border: 0.0625rem solid var(--bmr-dark-40);
}

.title {
	border-bottom: 0.0625rem solid var(--bmr-dark-70);
	width: 100%;
}

.description {
	margin-top: var(--l);
}

.accent {
	font-weight: bold;
	font-family: var(--serif);
	font-size: var(--l);
	color: var(--bmr-purple--darker);
}

.img {
	position: absolute;
	width: 8rem;
	right: 2rem;
	bottom: 8rem;
}
