.large {
	font-size: var(--xl);
	color: #333;
}

.medium {
	font-size: var(--l);
}

.sans {
	font-family: var(--sans-serif);
}

.monday {
	background: lightpink;
}

.tuesday {
	background: lightgreen;
}
.wednesday {
	background: lightsalmon;
}
.thursday {
	background: lightblue;
}
.friday {
	background: lightgoldenrodyellow;
}
