.container {
	text-align: center;
	align-self: flex-end;
}

.container > p {
	font-size: var(--xs);
	margin: 0;
	margin-bottom: var(--xxs);
}

.frame > img {
	border-radius: 50%;
	border: 0.0625rem solid var(--bmr-dark-80);
	margin-bottom: var(--xxxs);
}

.centre {
	text-align: center;
}

.title-position--green {
	color: var(--bmr-green);
}
