.container {
	text-align: center;
	align-self: flex-end;
}

.container > p {
	font-size: var(--s);
}

.frame > img {
	border-radius: 50%;
	border: var(--xxxs) solid var(--bmr-dark-80);
}

.centre {
	text-align: center;
}

.title-position--green {
	color: var(--bmr-green);
}
