.svg-box {
	background: white;
	border-radius: 50%;
}

.circle-background,
.circle-progress {
	fill: none;
}

.circle-background {
	stroke: #ddd;
}

.circle-progress {
	stroke: var(--bmr-aqua);
	stroke-linecap: round;
	stroke-linejoin: round;
}

.circle-progress:hover {
	stroke: var(--bmr-aqua--darker);
}

.circle-text {
	font-size: var(--xl);
	font-weight: bold;
	fill: var(--bmr-aqua--darker);
}
